{% if request.user.is_authenticated %}
      <div class="login-message">
        
        You are logged with <strong>{{request.user.username}}</strong> - 
        <a href="{% url 'authors:dashboard' %}">
          See your recipes,
        </a>
        <a href="{% url 'recipes:recipe_save' %}">create a new recipe</a>
        or
        <form class="inline-form" action="{%url 'authors:logout'%}" method='POST'>
          {% csrf_token %}
          <button class="plaintext-button">logout</button>
        </form>
      
      </div>
{% endif %}